body{
	background-color: #f9f9f9;
}
.navbar{
	border-radius: 0;	
}
.navbar-nav li > a{
	text-align: center;
	font-size: 1.4375em;
	-webkit-font-smoothing: antialiased;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-default .navbar-brand{
	max-width:220px;
	color:#428bca;
	font-size: 20px;
	margin:0;
	padding:5px 5px;
	text-align: center;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #428bca;
  background-color: #f0f0f0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 300px;
  margin-left:15%;
  max-width: 350px;
}
.carousel-caption {
  position: absolute;
  right: 20%;
  top:0;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #222;
  text-align: left;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .6);
  font: 110%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
  
}
.carousel {
	height:300px;
}
.user-info{
	text-align: center;
	font: 110%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
}
.lajmet-fundit{
	text-align: left;
}
.user-info > img{
	max-width:100%;
	padding:10px;
}
.user-info .emri{
	font-size: 20px;
	font-weight: bold;
}
.carousel-indicators li {
  background-color: #ff9000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #111;
}
.carousel-indicators .active {
  background-color: #333;
}
.gazeta-news{
	font: 120%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#3e433e;
}
.lendet{
	font: 120%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	border-radius: 0;
}
.lendet h2{
	padding:10px;
	font-size:20px;
}
.lendet .table{
	margin-bottom:20px;
}
.ligjeratat{
	font: 120%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#3e433e;
}
.lajmet{
	font: 120%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#3e433e;
}
.jumbotron{
	padding:10px;
}
.jumbotron h1{
	font-size:30px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
