@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	background-color: #f9f9f9;
}
.navbar{
	border-radius: 0;	
}
.navbar-brand img{
	max-width: 18%;
	float:left;
}
.navbar-default{
	background-color: #fff;
}
.navbar-nav li > a{
	text-align: center;
	font-size: 1.4375em;
	-webkit-font-smoothing: antialiased;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-default .navbar-brand{
	max-width:260px;
	color:#428bca;
	font-size: 20px;
	margin:0;
	padding:5px 5px;
	text-align: center;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #428bca;
  background-color: #f0f0f0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 300px;
  margin-left:15%;
  max-width: 350px;
}
.carousel-caption {
  position: absolute;
  right: 20%;
  top:0;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #222;
  text-align: left;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .6);
  font: 110%/1.625 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
  
}
.carousel {
	height:300px;
}
.user-info{
	text-align: center;
	font: 110%/1.225 'Open Sans', sans-serif;
}
.lajmet-fundit{
	text-align: left;
}
.user-info > img{
	max-width:100%;
	padding:10px;
}
.user-info .emri{
	font-size: 20px;
	font-weight: bold;
}
.carousel-indicators li {
  background-color: #ff9000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #111;
}
.carousel-indicators .active {
  background-color: #333;
}
.gazeta-news{
	font: 120%/1.625 'Open Sans', sans-serif;
	color:#3e433e;
}
.lendet{
	font: 120%/1.625 'Open Sans', sans-serif;
	border-radius: 0;
	padding:0px;
}
.lendet h2{
	font: 130%/1.625 'Open Sans', sans-serif;
	padding:10px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:20px;
	text-shadow: 0px 1px 2px #303030;

}
.lendet .table{
	margin-bottom:20px;
}
.ligjeratat{
	font: 120%/1.725 'Open Sans', sans-serif;
	color: #3e433e;
	text-shadow: 0px 1px 1px #A8A8A8;
}
.ligjeratat .list-group-item-heading{
	font: 125%/1.125 'Open Sans', sans-serif;
	color: #3e433e;
	font-weight: 400;
	text-shadow: 0px 1px 1px #C7C7C7;
}
.lajmi{
	font: 120%/1.725 'Open Sans', sans-serif;
	color: #3e433e;
	text-shadow: 0px 0px 0px #C7C7C7;
}
.lajmet{
	font: 120%/1.425 'Open Sans', sans-serif;
	color:#3e433e;
}
.lajmet .lajmi-rend{
	background-color: rgba(51, 51, 51, 0.02);
padding: 10px;
padding-top: 25px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.lajmet .panel:hover > .panel-heading{
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	background-color: #146B9C;
	border-color: #146B9C;
}
.lajmet .lajm-trupi{
	padding-left:0px;
	padding-right:0px;
}
.lajmet .panel-heading{
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}
#lajmetShtese{
	font: 100%/1.925 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#3e433e;
}
#lajmetShtese .list-group-item{
	height:60px;
	padding: 7px 20px;
	font: 115%/1.125 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
}
.lajmet .panel{
	border: 10px solid #fff;
	border-radius:0;
}
.lajmet .panel-footer{
	background-color:#fff;
	border:none;
	font-style: italic;
}
.jumbotron{
	padding:10px;
}
.jumbotron h1{
	font-size:30px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}